$font-family : "Open Sans", sans-serif;
$font-family-open-sans : "Open Sans", sans-serif;
$font-family-manrope : "Manrope";
$links-color: #FFFFFF;
$links-font-size : 16px;
$links-font-weight: 600;



// Font weight Properties -----------------------------

$font-regular : 400;
$font-semibold: 600;    
$font-bold : 700;

// -----------------------------

// Font family Properties -----------------------------

// $font-open-sans : "Open Sans", sans-serif;
// $font-family-manrope : "Manrope";

// -----------------------------

// color name -------------------------

$primary :#0A2640;
$secondary :#777777;
$black-color: #000000;
$white-color: #FFFFFF;
$light-greenish-blue: #65F4A3;
$nile-blue: #1C3D5B;
$sea-shell: #F1F1F1;

// ------------------------------------